<p class="text-center" style="font-size: 40px;font-weight: bold; color:red;">Page is under maintanance. Please use login - > manageProducts menu for product view, update , delete, create.</p>
<!-- <div class="row">
    <div class="col 6">
        <form #f="ngForm" (ngSubmit)="saveproduct(f.value)">
            <div class="form-group">
                <label for="title">Title</label>
                <input #title="ngModel" ngModel name="title" type="text" id ="Title" class="form-control" maxlength="15" minlength="3" required>
            </div>
            <button class="btn btn-primary" [disabled]="saveSuccess">Save</button>  
            <p>{{title.value}}</p>
        </form>
    </div> -->
