.cardimg{
    height: 50%;
    width: 100%;
    vertical-align: middle;
    
}

.cardd{
    height: 100%;
    width: 52%;
    background-color:crimson;
}

.cardbodysize{
 font-size: 16px;
 line-height: .8;
 

}

.sticky-top{
    top: 70px;
}